* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 10000px;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 186px;
    text-align: center;
    line-height: 68px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    background: #1ebfc1;
}

.btn:hover {
    opacity: 0.8;
}

/* =============== Header ================= */
.header {
    background: #fff;
}

.fixed {
    position: sticky;
    top: -52px;
    padding: 10px 0;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding-top: 52px;
}

.header .nav {
    margin-left: 235px;
}

.header .nav-list {
    display: flex;
    gap: 39px;
}

.header .nav .item {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .nav .item:hover {
    color: black;
    text-shadow: 1px 0 0 currentColor;
}

.header .actions {
    margin-left: auto;
}

.header .sign-in-btn {
    padding: 4px;
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
}

.header .sign-in-btn:hover {
    opacity: 0.9;
}

.header .sign-up-btn {
    min-width: 108px;
    padding: 12px 24px;
    margin-left: 20px;
    line-height: 48px;
    border: 1px solid #1ebfc1;
    border-radius: 6px;
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
}

.header .sign-up-btn:hover {
    opacity: 0.8;
}

/* ================ Hero ================= */
.hero {
    padding-top: 40px;
    padding-bottom: 79px;
}

.hero .body {
    display: flex;
}

.hero .hero-content {
    width: 45%;
    padding-top: 93px;
}

.hero .sub-title {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.hero .heading {
    padding-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.hero .desc {
    max-width: 374px;
    padding-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.hero .hero-cta {
    display: flex;
    margin-top: 52px;
}

.hero .btn-play {
    width: 62px;
    height: 62px;
    margin-left: 50px;
    border-radius: 999px;
    background: #fff;
    border: #fff;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

/* Hero-right */
.hero .hero-banner {
    position: relative;
    display: flex;
    width: 55%;
    margin-left: auto;
}

.hero .hero-banner .images {
    width: 576px;
    height: 623px;
    margin-left: auto;
    object-fit: cover;
}

.hero .schedules {
    width: 124px;
    height: 132px;
    position: absolute;
    bottom: 46px;
    left: 0;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .schedules .title {
    text-align: center;
    margin-top: 16px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .schedules .row {
    width: 74px;
    height: 6px;
    margin-top: 12px;
    margin-left: 26px;
    border-radius: 3px;
    background: #edf1f5;
}

.hero .schedules .bar {
    width: 39px;
    height: 6px;
    border-radius: 3px;
    background: #fb9899;
}

.hero .schedules .row:nth-of-type(3) .bar {
    width: 51px;
}

.hero .schedules .row:nth-of-type(4) .bar {
    width: 33px;
}

.hero .schedules .row:nth-of-type(5) {
    width: 26px;
    margin-left: 50px;
}

.hero .hero-banner .courses {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 149px;
    left: 25px;
    width: 157px;
    height: 75px;
    gap: 0 16px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .hero-banner .courses .block {
    width: 36px;
    height: 40px;
    background: #ff8282;
    border-radius: 10px 5px 5px 5px;
}

.hero .hero-banner .courses .block .row {
    width: 28px;
    height: 4px;
    margin-top: 28px;
    margin-left: 5px;
    background: #fff;
    border-radius: 999px;
}

.hero .hero-banner .sub-title {
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
}

.hero .hero-banner .student {
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .hero-banner .student .title {
    display: flex;
    margin-top: 17px;
    margin-left: 35px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .hero-banner .student .block-avatar {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.hero .hero-banner .student .avatar {
    width: 33px;
    height: 33px;
    margin-left: -6px;
    object-fit: cover;
    border-radius: 999px;
}

.hero .hero-banner .student .avatar:nth-child(1) {
    margin-left: 0;
}

.hero .hero-banner .avatar.avt-default {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1ebfc1;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* ========================= Features =========================== */
.features {
    margin-top: 130px;
}

.features .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .heading {
    width: 577px;
    padding-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}

.features .feature-top .desc {
    width: 580px;
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
}

.features .feature-list {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.features .item {
    width: 250px;
}

.features .thumb {
    width: 102px;
    height: 106px;
    object-fit: cover;
}

.features .title {
    padding: 26px 0 16px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .desc {
    width: 250px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.68; /* 168.75% */
}

/* =================== popular ======================= */
.popular {
    height: 778px;
    margin-top: 130px;
}

.popular .popular-top .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.popular .popular-top .heading {
    padding-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.popular .popular-top .row {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
}

.popular .popular-top .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
}

.popular .popular-top .view {
    color: #1ebfc1;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
}

.popular .popular-list {
    display: flex;
    gap: 0 47px;
    margin-top: 79px;
}

.popular .item {
    position: relative;
    flex: 1;
}

.popular .thumb {
    width: 100%;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.6;
}

.popular .card {
    position: absolute;
    bottom: -124px;
    left: 17px;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.popular .card-list {
    padding: 18px 35px 0 25px;
}

.popular .card .title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .card strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .card .desc {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.popular .card .desc:nth-of-type(1) {
    line-height: 33px;
    padding: 16px 0 6px;
}

.popular .card .desc:nth-of-type(2) {
    padding-bottom: 18px;
}

.popular .card .stat {
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
}

.popular .card .stat::before {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    margin-bottom: 2px;
    margin-right: 10px;
    background: #1ebfc1;
    border-radius: 999px;
}

.popular .card .stat:nth-of-type(1) {
    margin-right: 10px;
}

/* =================== Stats ======================= */
.stats {
    margin-top: 260px;
}

.stats .body {
    width: 862px;
    margin-left: auto;
    margin-right: auto;
}

.stats .stats-list {
    display: flex;
    justify-content: space-between;
    gap: 0 190px;
}

.stats .item {
    flex: 1;
}

.stats .data {
    display: block;
    text-align: center;
    margin-bottom: 11px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.6;
}

.stats .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

/* ============================ testimonial ===================== */
.testimonial {
    margin-top: 264px;
}

.testimonial .body {
    display: flex;
}

.testimonial .testimonial-left {
    width: 42%;
}

.testimonial .quotation-mark {
    margin: 37px 0 26px;
}

.testimonial .desc {
    width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}

.testimonial .name {
    padding-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
}

.testimonial .name strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
}

.testimonial .name::before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 2px;
    margin-right: 1px;
    margin-bottom: 3px;
    background: #070707;
}

.testimonial .action {
    margin-top: 52px;
}

.testimonial .action .cta {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 999px;
    background: #2ac9bf;
    border: none;
}

.testimonial .action .cta:hover {
    opacity: 0.8;
    cursor: pointer;
}

.testimonial .action .cta:nth-of-type(2) {
    margin-left: 25px;
}

.testimonial .testimonial-right {
    position: relative;
    width: 58%;
}

.testimonial .avatar {
    position: absolute;
    width: 92px;
    height: 92px;
    border-radius: 999px;
    cursor: pointer;
}

.testimonial .avatar:nth-of-type(1) {
    width: 235px;
    height: 235px;
    top: 80px;
    right: 150px;
}

.testimonial .avatar:nth-of-type(2) {
    width: 78px;
    height: 78px;
    bottom: 30px;
    right: 0;
}

.testimonial .avatar:nth-of-type(3) {
    width: 110px;
    height: 110px;
    top: 0;
    right: 0;
}

.testimonial .avatar:nth-of-type(4) {
    width: 78px;
    height: 78px;
    bottom: 0;
    right: 370px;
}

.testimonial .avatar:nth-of-type(5) {
    width: 78px;
    height: 78px;
    bottom: 100px;
    left: 0;
}

.testimonial .avatar:nth-of-type(6) {
    width: 92px;
    height: 92px;
    top: 0;
    left: 100px;
}
